In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date

In [23]:
df = pd.read_csv('/home/mugesh/MLops/udmey-price/data/udemy_courses.csv')

In [24]:
df.isnull().sum()

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [25]:
df["published_timestamp"] = pd.to_datetime(df.published_timestamp).dt.date
df["days_since_published"] = (date.today() - df.published_timestamp).dt.days

In [26]:
df.days_since_published

0       1565
1       1515
2       1595
3       1433
4       1601
        ...
3673    1783
3674    1514
3675    1950
3676    1725
3677    2408
Name: days_since_published, Length: 3678, dtype: int64

In [31]:
train =  df[["num_lectures", "price", "days_since_published", "content_duration", "subject"]]

In [32]:
df.num_subscribers

0       2147
1       2792
2       2174
3       2451
4       1276
        ...
3673    1040
3674     306
3675     513
3676     300
3677     901
Name: num_subscribers, Length: 3678, dtype: int64

In [35]:
train

,num_lectures,price,days_since_published,content_duration,subject
0,51,200,1565,1.5,Business Finance
1,274,75,1515,39.0,Business Finance
2,51,45,1595,2.5,Business Finance
3,36,95,1433,3.0,Business Finance
4,26,200,1601,2.0,Business Finance
...,...,...,...,...,...
3673,21,100,1783,2.0,Web Development
3674,42,25,1514,3.5,Web Development
3675,48,40,1950,3.5,Web Development
3676,38,50,1725,3.0,Web Development
3677,20,45,2408,2.0,Web Development